@font-face {
    font-family: 'Kelson Sans';
    src: url(../fonts/Kelson_Sans_Regular.otf);
}
@font-face {
    font-family: 'Kelson Sans Bold';
    src: url(../fonts/KelsonSansBoldRU.otf);
}
@font-face {
    font-family: 'MiriadPro';
    src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url(../fonts/DejaVuSansCondensed.ttf);
}
@font-face {
    font-family: 'DejaVuSansEL';
    src: url(../fonts/DejaVuSans-ExtraLight.ttf);
}

header,
section,
footer {
	width: 100%;
	min-width: 1200px;
	background: #edeeee;
}
header .wrapper,
section .wrapper,
footer .wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
header {
	z-index: 9999;
	position: fixed;
	border: 1px solid #46468d;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	background: #1674b7;
	background: -moz-linear-gradient(top, #1674b7 0%, #383889 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1674b7), color-stop(100%,#383889));
	background: -webkit-linear-gradient(top, #1674b7 0%,#383889 100%);
	background: -o-linear-gradient(top, #1674b7 0%,#383889 100%);
	background: -ms-linear-gradient(top, #1674b7 0%,#383889 100%);
	background: linear-gradient(to bottom, #1674b7 0%,#383889 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1674b7', endColorstr='#383889',GradientType=0 );
}
.all-day {
	float: left;
	padding-left: 4%;
	width: 29%;
	font: 40px 'Kelson Sans';
	color: #fff;
	margin-top: 8px;
	background: url(../img/clock.png) no-repeat left center;
}
.all-day span {
	font: 20px 'MiriadPro';
	color: #fff;
}
.all-day,
.phone,
.logo {
	vertical-align: middle;
}
.phone,
.logo {
	width: 33%;
	display: inline-block;
}
.logo {
	text-align: center;
}
.logo img {
	margin-bottom: -8%;
	z-index: 100;
}
.phone {
	text-align: right;
	color: #fff;
	font: 26px 'Kelson Sans';
}
.phone .address {
	font: 12px DejaVuSansCondensed;
	color: #fff;
}
.promo {
	padding-top: 62px;
	background:  url(../img/banner.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 600px;
	position: relative;
}
.wrapper.narrow {
	padding: 35px 30px;
	color: #fff;
	height: 570px;
	text-align: center;
	width: 600px;
	margin: 0 auto;
	background: rgba(0,125,212,.8);
	background: -moz-linear-gradient(top, rgba(0,125,212,.8) 0%, rgba(56,56,137,.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,125,212,.8)), color-stop(100%,rgba(56,56,137,.8)));
	background: -webkit-linear-gradient(top, rgba(0,125,212,.8) 0%,rgba(56,56,137,.8) 100%);
	background: -o-linear-gradient(top, rgba(0,125,212,.8) 0%,rgba(56,56,137,.8)100%);
	background: -ms-linear-gradient(top, rgba(0,125,212,.8) 0%,rgba(56,56,137,.8) 100%);
	background: linear-gradient(to bottom, rgba(0,125,212,.8) 0%,rgba(56,56,137,.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,125,212,.8)', endColorstr='rgba(56,56,137,.8)',GradientType=0 );
}
.promo h1 {
	font: 35px DejaVuSansCondensed;
	color: #fff;
	margin-bottom: 50px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75),  0px 1px 2px #000;
}
.promo p {
	font: 14px/1.71 DejaVuSansCondensed;
	margin-bottom: 45px;
}
.advantages-list {
	margin: 0 40px;
}
.advantage-item {
	display: inline-block;
	font: 16px/1.71 DejaVuSansCondensed;
	margin-bottom: 20px;
	background: url(../img/list-type.png) no-repeat 0;
	padding-left: 14px;
}
.more {
	margin-top: 15px;
}
.more .wi-fi,
.more .coffee {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.more .wi-fi {
	background: url(../img/wifi.png) no-repeat center;
}
.more .coffee {
	background: url(../img/coffee.png) no-repeat center;
}
.buttons a {
	border-radius: 10px;
	font: 18px 'Kelson Sans';
	margin-top: 45px;
	color: #fff;
	width: 115px;
	padding: 10px 50px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.34);
	background: rgb(235,118,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,175,74,1) 0%, rgba(235,118,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,175,74,1)), color-stop(100%,rgba(235,118,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* W3C */
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px 0px rgba(0, 0, 0, 0.29) inset, 0px -1px 0px 1px rgba(255, 255, 255, 0.6);
}
.buttons a:first-child {
	margin-right: 70px;
}
.nav {
	background: #29529d;
	display: flex;
	text-align: center;
}
.nav a {
	color: #fff;
	text-decoration: none;
	font: 15px 'Kelson Sans';
	text-transform: uppercase;
	display: inline-block;
	width: 185px;
	padding: 20px 0;
	text-shadow: 1px 1px 2px rgba(198, 86, 24, 0.2);
	position: relative;
	float: left;
}
.nav a:hover {
	color: #f6bd5d;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.16) 99%, rgba(255,255,255,0.16) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0.16)), color-stop(100%,rgba(255,255,255,0.16))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 99%,rgba(255,255,255,0.16) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 99%,rgba(255,255,255,0.16) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 99%,rgba(255,255,255,0.16) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.16) 99%,rgba(255,255,255,0.16) 100%); /* W3C */
}
.nav a::after {
	content: '';
	position: absolute;
	right: 0;
	height: 100%;
	top: 0%;
	width: 1px;
	background: url(../img/border.png) no-repeat;
}
.nav a:first-child::before {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	top: 0%;
	width: 1px;
	background: url(../img/border.png) no-repeat;
}
h2 {
	position: relative;
	margin-bottom: 20px;
	padding-top: 80px;
	font: 30px 'Kelson Sans Bold';
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
h2::after {
	content: '';
	display: inline-block;
	width: 140px;
	height: 1px;
	background: #dbdbdb;
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 1);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
}
.h2-bg{
	background: url(../img/h2-bg.png) no-repeat center 30%;
	padding-top: 160px;
}
h2 + p {
	font: 14px/1.71 'DejaVuSansEL';
	color: #797979;
	width: 60%;
	display: inline-block;
	margin: 0 20%;
	text-align: center;
	margin-bottom: 50px;
}
.about-items {
	text-align: center;
}
.about-item {
	width: 22%;
	display: inline-block;
	padding-top: 120px;
	background-repeat: no-repeat;
	background-position: center top;
	font: 14px/1.71 'DejaVuSansCondensed';
	color: #797979;
}
.about-item:nth-child(1) {
	background-image: url(../img/24.png);
}
.about-item:nth-child(2) {
	background-image: url(../img/work.png);
}
.about-item:nth-child(3) {
	background-image: url(../img/like.png);
}
.about-item:nth-child(4) {
	background-image: url(../img/car.png);
}
.servise-items {
	text-align: center;
	overflow: auto;
}
.servise-item {
	width: 23%;
	margin: 0 1%;
	float: left;
	overflow: hidden;

	background:  #29529d;
}
.servise-item h3 {
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	font: 15px 'Kelson Sans';
	background-repeat: no-repeat;
}
.service-item-footer {
	background: url(../img/shinomontaj.png) no-repeat;
	width: 72px;
	height: 60px;
	margin-top: -40px;
	display: inline-block;
}
.column {
	width: 30%;
	display: inline-block;
	margin-right: 3%;
	vertical-align: bottom;
}
.column select,
.column input {
	width: 100%;
}
.column span {
	font: 18px 'DejaVuSansCondensed';
	text-transform: uppercase;
	margin: 30px 0 15px 0;
display: inline-block;
}
.column select {
	background: #e8e9ea;
	border: 0;
	outline: 0;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2), 0px 3px 3px 0px rgba(55, 55, 55, 0.1), 0px -1px 0px 0px rgba(0, 0, 0, 0.29) inset, 0 1px 0 0 rgba(255,255,255,.8) inset;
	padding: 12px;
	border-radius: 6px;
	color: #555861;
	font: 18px 'MiriadPro';
	background: transparent url(../img/down.png) no-repeat 97%;
	-webkit-appearance: none;
	appearance: none;
}
.submit-online:hover{
	opacity: 1;
}
.online-form h3 + p {
font: 14px/18px 'DejaVuSansEL';
color: #797979;
margin-bottom: 12px;

}
.online-form input {
	font: 14px 'DejaVuSansEL';
	color: #c3c3c3;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
border: 0;
outline: 0;
padding: 12px;
width: 95%;
margin-bottom: 20px;
border-radius: 5px;
}
.online-form h3 {
color: #ea7230;
text-transform: uppercase;
font: 18px 'DejaVuSansCondensed';
padding-left: 15px;
margin-bottom: 20px;
}
input.submit-online {
	cursor: pointer;
	opacity: .5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.34);
	color: #fff;
	text-transform: uppercase;
	font: 24px 'Kelson Sans Bold';
	border: 0;
	outline: 0;
	padding: 20px 30px;
	border-radius: 7px;
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.29) inset, 0px 0px 2px 0px rgba(255, 255, 255, 1) inset, 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
	background: rgb(245,175,74); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,175,74,1) 0%, rgba(235,118,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,175,74,1)), color-stop(100%,rgba(235,118,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* W3C */
}
.black-gradient.size-30 {
font: 30px 'Kelson Sans';
}
span.black-gradient {
	margin: 0;
}
.flexslider {
	position: relative;
}
.flex-viewport {
	width: 1000px;
	display: block;
	margin: 0 auto;
}
.slides li {
	position: relative;
	padding-right: 20px;
}
.slides img {
	width: 100px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
}
.slides h3 {
	position: absolute;
	bottom: 0;
	left: 130px;
	font: 18px 'DejaVuSansCondensed';
	color: #1674b7;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.slides h4 {
	margin-bottom: 20px;
	text-transform: uppercase;
}
.slides div {
	color: #797979;
	font: 14px/1.57 'DejaVuSansEL';
	position: relative;
	width: 290px;
	padding: 25px;
	background: #fff;
	border-radius: 20px 20px 20px 0;
	float: right;
	margin-bottom: 35px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.slides div::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: -30px;
	width: 0;
    height: 0;
    border-bottom: 30px solid #fff; 
    border-left: 30px solid transparent;
    box-shadow: 2px 5px 3px -2px rgba(0, 0, 0, 0.1);
}
.flex-direction-nav a {
	color: transparent;
	display: inline-block;
	width: 20px;
	height: 40px;
	position: absolute;
	top:35%;
}
.flex-direction-nav .flex-prev {
	left: 0;
	background: url(../img/arr-l.png) no-repeat center;
}
.flex-direction-nav .flex-next {
	right: 0;
	background: url(../img/arr-r.png) no-repeat center;
}
.flex-control-nav {
	text-align: center;
	margin-top: 50px;
}
.flex-control-nav li {
	display: inline-block;
}
.flex-control-nav a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #ec7d35;
	color: transparent;
	margin: 0 3px;
}
.flex-control-nav .flex-active {
	background: rgb(245,175,74); /* Old browsers */
background: -moz-linear-gradient(top, rgba(245,175,74,1) 0%, rgba(235,118,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,175,74,1)), color-stop(100%,rgba(235,118,50,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(245,175,74,1) 0%,rgba(235,118,50,1) 100%); /* W3C */
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.29) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.29) inset;
}
.map {
	display: inline-block;
	height: 500px;
	width: 100%;
	position: relative;
}

.map:before {
content: '';
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 60px solid #edeeee;
position: absolute;
z-index: 99;
left: 50%;
margin-left: -25px;
box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 7px 0px inset;
}
.map > ymaps {
	height: 500px;
}
.contact-items {
	padding-bottom: 55px;
}
.contact-items .bottom-address,  
.contact-items  .bottom-phone,  
.contact-items .email {
	display: inline-block;	
	padding-left: 6.5%;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact-items .bottom-address,   
.contact-items .email {
	width: 26.83333%;
}
.contact-items  .bottom-phone {
	width: 21.83333%;
	margin-left: 5%;
}
.bottom-address {
	font: 16px 'DejaVuSansEL';
	color: #333;
	background: url(../img/address.png) no-repeat left center;
}
.bottom-phone {
	font: 24px 'Kelson Sans Bold';
	color: #29529d;
	background: url(../img/phone.png) no-repeat left center;
}
.email {
	font: 16px 'DejaVuSansEL';
	color: #29529d;
	background: url(../img/phone.png) no-repeat left center;
}
ymaps.ymaps-2-1-17-events-pane.ymaps-2-1-17-user-selection-none {
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 7px 0px inset;
}
.online-form {
	vertical-align: top;
margin-top: 8px;
	width: 330px;
	display: inline-block;
}
.column span:first-child {
	margin-top: 0;
}
.result-wrap-left,
.result-wrap-right {
	display: inline-block;
	width: 62%;
	text-align: right;
	margin-bottom: 50px;
	vertical-align: middle;
}
.result-wrap-left{
	width: 35%;
	text-align: left;
}
.result-wrap-left span,
.result-wrap-right span {
	margin: 0;
}
span.size-30 {
	font: 30px 'Kelson Sans';
	color: #6c6b70;
	text-transform: uppercase;
}
span.size-16 {
	font: 16px 'Kelson Sans';
	color: #6c6b70;
	text-transform: none;
}
span.size-36:first-child{
	font-family: 'Kelson Sans Bold'
}
span.size-36 {
	font: 36px 'Kelson Sans';
	color: #225fa7;
	text-transform: none;
}